body {
	background: #000;
}

/* For the Project Notes page thats linked on the BJERG homepage but not actually part of the BJERG website*/

/* referenced CodeAcademy Learn CSS course for arranging the contents into a grid:
https://www.codecademy.com/learn/learn-css/modules/learn-css-grid/cheatsheet */
main {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: repeat(1, 450px);
  grid-gap: 20px;
  grid-auto-rows: 500px;
  grid-auto-flow: column;
	margin-top: 44px;
	margin-left: 40px;
}

.projectnotesbox {
  width: 480px;
}

.projectnotes {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: left;
  color: #d485ae;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #4a4a4a;
}

h1 {
	margin-top: 75px;
	color: #ff3d00;
	font-family: 'Days One', sans-serif;
	font-size: 60px;
	letter-spacing: 10px;
}

h2 {
	color: #b81e6f;
	font-family: Helvetica, serif;
	font-size: 42px;
	margin-left: 40px;
	max-width: 750px;
}

h3 {
	color: white;
	font-family: Helvetica, serif;
	font-size: 20px;
	margin-left: 40px;
	max-width: 750px;
	line-height: 1.6;
}

h4 {
	color: #b81e6f;
	font-size: 20px;
	font-family: Helvetica, serif;
}

p {
	color: white;
	font-family: Helvetica, serif;
	font-size: 15px;
	margin-left: 40px;
	max-width: 700px;
}

p a {
	color: white;
}

/*modified code for mainHeader, div, nav, ul from codepen Craig shared with me
"basic navbar with logo - side by side" by Wajahat Rasool:
https://codepen.io/wajahat/pen/ORXvop?editors=1100*/

.mainHeader {
  clear:both;
  overflow:auto;
}

nav{float:right;}

/* .bjerg_logo img {
	float:left;
} */

.bjerg_logo a {
	float: left;
	/* Got this code for text stroke from: https://css-tricks.com/adding-stroke-to-web-text/ */
	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	font-family: 'Days One', sans-serif;
	font-size: 150px;
	letter-spacing: 8px;
	text-decoration: none;
}

ul li a {
	text-decoration: none;
	background-color: #d485ae;
	color: black;
	font-family: Helvetica, serif;
	font-size: 16px;
  display: inherit;
	padding:10px;
	list-style-type: circle;
}

ul li a:hover{
  color: #b81e6f;
	/* links in the navbar fade from black to magenta when hovering*/
	transition:all 0.3s ease-in-out;
}

.active{
	color: white;
}

.logo {
	width: 45%;
	height: auto;
	padding-left: 16px;
	padding-right: 16px;
}

/* styling the large graphic image on the homepage */
.mountains {
	width: 100%;
	height: auto;
}

/* styling the graphic images on the other pages */
.world {
	width: 600px;
	height: auto;
	float: right;
	padding-right: 45px;
	padding-left: 45px;
}

.shield {
	width: auto;
	height: 600px;
	float: right;
	padding-right: 45px;
	padding-left: 45px;
}

.bubble {
	width: auto;
	height: 400px;
	float: right;
	padding-right: 45px;
	padding-left: 45px;
}

/* used forms on CodeAcademy HTML lesson for reference:
https://www.codecademy.com/learn/learn-html/modules/learn-html-forms/cheatsheet */

/* styling the base for the application form */
#overlay {
  width: 70%;
  margin: 3% auto;
  height: 95vh;
  background-color: rgba(241, 218, 230, 0.9);
  border-radius: 40px;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
	padding-top: 20px;
	font-family: Helvetica, serif;
	font-size: 16px;
}

/* horizontal rule separating each question in the application form */
form hr {
  width: 45%;
}

.submitbtn {
	background-color: #f2805c;
	width: 150px;
	display: inline-block;
	border-radius: 20px;
	border: 10px solid #d485ae;
}

.submitbtn a {
	color: white;
	font-size: 30px;
	text-decoration: none;
}
